<h2>管理者ダッシュボード</h2>

<ul>
  <li><%= link_to "投稿一覧へ", admin_posts_path, class: "btn btn-outline-primary" %></li>
  <li><%= link_to "ユーザー一覧へ", admin_users_path, class: "btn btn-outline-secondary mt-2" %></li>
</ul>